.sidebar {
  background: #f9f9f9;
  position: fixed;
  top: 51px;
  bottom: 0;
  left: 0;
  z-index: 1000;
  display: block;
  padding: 20px;
  overflow-x: hidden;
  overflow-y: auto;
  border-right: 1px solid #eee;
}

.main {
    /* padding-left: 40px; */
}

.well{
background: #d3d3d4;
margin-left: 3%;
padding: 4% 7%;


}

.card {
  /* background: #fefefe; */
  border-bottom: 1px solid #e1e8ed;
  min-height: 150px;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 20px;
  background: #ecf0f1;

   border: 1px solid lightgray;
}


.screen-name {
  font-weight: bold;
  font-size: 20px;
}

.tweet-text {
  padding-top: 8px;
  font-size: 20px;
}

.handle {
  color: #717171;
  font-weight: bolder;
}

.u-carousel-holder {
  height: 550px;
  background: white;
  padding-top: 20px;
}
