.sidebar {
  background: #f9f9f9;
  position: fixed;
  top: 51px;
  bottom: 0;
  left: 0;
  z-index: 1000;
  display: block;
  padding: 20px;
  overflow-x: hidden;
  overflow-y: auto;
  border-right: 1px solid #eee;
}

.main {
    /* padding-left: 40px; */
}

.well{
  background: #d7eac1;
  margin-left: 3%;
  padding: 4% 7%;
  font-family: Raleway;
}

.card {
  /* background: #fefefe; */
  border-bottom: 1px solid #e1e8ed;
  min-height: 150px;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 20px;
  background: #ecf0f1;

  border: 1px solid lightgray;
}


.screen-name {
  font-weight: bold;
  font-size: 20px;
}

.tweet-text {
  padding-top: 8px;
  font-size: 20px;
}

.handle {
  color: #717171;
  font-weight: bolder;
}

.u-carousel-holder {
  height: 550px;
  background: white;
  padding-top: 20px;
}

.navbar-inverse {
    background-color: #466d2c;
    border-color: #dddddd;
    color: whitesmoke;
}

.navbar-inverse .navbar-brand {
    color: whitesmoke;
    font-weight: bold;
}

.navbar-inverse .navbar-nav>li>a {
    color: whitesmoke;
    font-size: 17px;
    font-weight: bold;
}

.navbar-nav>li>a:hover {
    border: none;
}

.navbar-inverse .navbar-nav>li>a {
    color: whitesmoke;
}

.navbar-nav>li>a:focus {
    border: none;
}

.navbar-inverse .navbar-nav>li>a:hover, .navbar-inverse .navbar-nav>li>a:focus {
    color: whitesmoke;
    background-color: transparent;
}

.cloud {
    margin-left: 6%;
}

.word-cloud {
    font-family: 'Oswald', sans-serif;
    font-weight: bold;
}

g.wordcloud-g {
    width: 600px;
}

.dp {
    padding-left: 0px;
}

.svg-container {
    display: inline-block;
    position: relative;
    width: 100%;
    padding-bottom: 100%; /* aspect ratio */
    vertical-align: top;
    overflow: hidden;
}
.svg-content-responsive {
    display: inline-block;
    position: absolute;
    top: 10px;
    left: 0;
}
